In [1]:
import pandas as pd
import numpy as np

In [3]:
#path='C:\\Users\\LENOVO\\Desktop\\NPOWER Materials\\Vancouver resources\\Course 7\\Week 1\GoodBelly-DataSet-Regression.xlsx'

df=pd.read_excel('GoodBelly-DataSet .xlsx')
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0

In [4]:
#Q1 - Give summary of numeric type of columns in dataset?
df.describe()

,Date,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
count,1386,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000
mean,2010-06-08 00:00:00,253.820718,4.107093,0.549784,0.038240,0.058442,0.156566,0.075758,1.448773,2.476190
min,2010-05-04 00:00:00,47.559852,2.889286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2010-05-18 00:00:00,189.995471,3.775714,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2010-06-08 00:00:00,236.735266,4.096667,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,2010-06-29 00:00:00,295.804391,4.425067,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000
max,2010-07-13 00:00:00,1041.200256,6.251538,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,5.000000
std,NaN,110.998731,0.463828,0.497695,0.191843,0.234661,0.363522,0.264705,0.975092,1.592789

In [5]:
#Q2 Calc STD of columns in dataset
std = df.std(numeric_only=True)
print(std)

Units Sold              110.998731
Average Retail Price      0.463828
Sales Rep                 0.497695
Endcap                    0.191843
Demo                      0.234661
Demo1-3                   0.363522
Demo4-5                   0.264705
Natural                   0.975092
Fitness                   1.592789
dtype: float64

In [11]:
#Q3 mean of first 50 records in dataset
mean_f50 = df.head(50).mean(numeric_only=True)
print(mean_f50)

Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64

In [7]:
#Q4 What are thecolumn 
df.columns

Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [8]:
#Q - Number of elements in dataset
df.size

16632

In [9]:
#Q- No. of records this dataset has
len(df)

1386

In [10]:
#Q type of column dataset has
df.dtypes

Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                        int64
Endcap                           int64
Demo                             int64
Demo1-3                          int64
Demo4-5                          int64
Natural                          int64
Fitness                          int64
dtype: object

In [12]:
# 7. What are the mean values of the first 50 records in the dataset? Hint:
# use head() method to subset the first 50 records and then calculate the mean
mean_f50 = df.head(50).mean(numeric_only=True)
print(mean_f50)

Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64